.navbar-start, #mainLogo {
    margin-left: auto;
    margin-right: auto;
}
.navbar-item {
    display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
    background: transparent;
    box-shadow: none;
}

.navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar-start{
    justify-content: flex-start;
}
.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}